.textbig
{
color: black;
font-size: 20px;
}

.textsmall /* параметры шрифтов */
{
color: black;
font-size: 17px;
}

.color_block 
	{
	position: absolute;
    left: 330; /* отступ слева */
	border: 4px double green ; /* Параметры рамки */
    background: white; /* Цвет фона */
	margin: 0; /* отступы вокруг текста */ 
    padding: 20px; /* Поля вокруг текста */ 
	width: 330; /* ширина рамки */
	top: 100; /* отступ сверху */
	}

.dline 
	{
    line-height: 2.0; /* междустрочный интервал */
    }
	
#table {display: table;} 
.row {display: table-row;} /* строка таблицы */
.cell {display: table-cell;}  /* ячейка в таблице */

.col
{
width: 20px; /* ширина столбца в таблице */
}